@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;600;700&display=swap");
:root {
  /* Colors */
  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ddd;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #666;
  --gray-65: #555;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;

  --green: #14ae73;
  --green-1: #95cd7f;
  --green-2: #73b18a;
  --green-3: #4d8994;
  --green-4: #30619d;
  --green-5: #30379d;

  --red: #f34646;
  --red-1: #fdd94a;
  --red-2: #e0a944;
  --red-3: #d37d36;
  --red-4: #cd583c;
  --red-5: #ab2e3f;

  --blue: #07a7e6;
  --blue-1: #70bdee;
  --blue-2: #618be1;
  --blue-3: #5b5ed5;
  --blue-4: #623ac6;
  --blue-5: #58119f;

  --rainbow-1: #ff67f7;
  --rainbow-2: #9b78fa;
  --rainbow-3: #59abf7;
  --rainbow-4: #5eddac;
  --rainbow-5: #f6cd5d;

  --orange: #ff7e22;
  --yellow: #fca62a;
  --pink: #f57ad0;
  --purple: #673ece;
  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo-light: #969bf6;
  --indigo-muted: #f1f2fd;

  /* Font family */
  --font-family-base: "Inter", sans-serif, system-ui, "Segoe UI", -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Arial;
  --font-family-monospace: Menlo, "IBM Plex Mono", Menlo, monospace;
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;
  /* Font color */

  /* --font-color-hero-heading: var(--gray-0); */

  /* Borders */

  --border-radius: 10px;

  /* Elements */

  /* ***Empty*** */

  /* Sizs */
  --content-width: 1160px;
  --content-width--small: 560px;
  --content-width--medium: 700px;
  --navbar-height-large: 80px;
  --navbar-height-small: 60px;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: initial;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-base);

  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

a {
  color: var(--link);
  text-decoration: none;
}

p,
ul,
ol,
ul,
table,
blockquote {
  font-size: 1rem;
  color: var(--font-color-base);
}

@media screen and (min-width: 700px) {
  p,
  ul,
  ol,
  ul,
  table,
  blockquote {
    letter-spacing: -0.01rem;
    font-size: 1.1rem;
    line-height: 1.625;
  }
}

p,
ul,
ol {
  -webkit-font-smoothing: auto;
  line-height: 1.625;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.5rem;
}

ul li ul,
ol li ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--marker);
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  margin-top: var(--navbar-height-large);
}

/* Blockquote */

blockquote {
  margin: 2rem 0;
  border: 1px solid var(--indigo-light);
  margin-left: 0;
  padding: 1.5rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

html[lang="en"] blockquote {
  border-left: 6px solid var(--indigo-light);
}

html[lang="fa"] blockquote {
  border-right: 6px solid var(--indigo-light);
}

blockquote p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

blockquote *:last-child {
  margin: 0;
}

blockquote ul {
  margin-top: 1.5rem;
}

blockquote strong {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  font-weight: 700;
}

blockquote.quotation {
  background: transparent;
  border: none;
  border-left: 12px solid var(--border-color);
  border-radius: 0;
  font-family: "Georgia";
  font-style: italic;
  font-size: 1.1rem;
  padding: 0 0 0 1.5rem;
  color: var(--font-color-base);
}

blockquote.quotation cite {
  margin-top: 0.5rem;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color-heading);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  scroll-margin-top: 3rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3.5rem;
}

h2 + h3 {
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color-heading);
  letter-spacing: -0.05rem;
}

h2.year {
  border-bottom: none;
  font-size: 2rem;
}

h2 code {
  font-size: 1.7rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  color: var(--font-color-heading3);
  font-family: var(--font-family-heading);
}

h3 code {
  font-size: 1.4rem !important;
}

@media screen and (min-width: 700px) {
  main {
    margin-top: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  h2 code {
    font-size: 1.9rem !important;
  }

  h2.year {
    border-bottom: none;
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.8rem;
    letter-spacing: -0.02rem;
  }

  h3 code {
    font-size: 1.85rem !important;
  }
}

h4,
h4 code {
  color: var(--font-color-base);
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: var(--font-color-base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--font-family-heading);
}

.code--block-header {
  color: var(--font-color-muted);
  padding: 0.25rem 1rem;
  border: 1.5px solid var(--code-border-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--card-background-color);
}

.code--block-inline-code {
  color: var(--font-color-muted);
  background-color: var(--code-background-color);
  padding: 0.1rem 0.4rem;
  margin: 0 0.1rem;
  border: 1px solid var(--code-border-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family-monospace);
  font-size: 0.87rem;
}

pre {
  max-height: 50vh;
}

pre > div[lang="en"] > pre {
  border-radius: var(--border-radius);
  margin-top: 0 !important;
  border: 1.5px solid var(--code-border-color) !important;
  border-bottom-left-radius: var(--border-radius) !important;
  border-bottom-right-radius: var(--border-radius) !important;
}

.code--block-header + pre {
  border-top-left-radius: initial !important;
  border-top-right-radius: initial !important;
  padding: 1.25rem 0 !important;
}

.SHOWLINENUMBERS > pre {
  padding: 1.25rem 0 !important;
}

span.linenumber {
  display: none !important;
}

h2.home-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.home-heading .title {
  font-size: 1.7rem;
  margin-bottom: 0;
  font-family: var(--font-family-base);
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  h2.home-heading {
    gap: 2rem;
  }

  h2.home-heading .title {
    font-size: 2rem;
  }
}

/* Table */

table {
  border: 1px solid var(--border-color);
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

td,
th {
  hyphens: auto;
  padding: 0.5rem;
  text-align: left;
  word-break: break-word;
  border-bottom: 1px solid var(--border-color);
}

th {
  background: var(--card-background-color);
  border-bottom: 2px solid var(--border-color);
}

mark {
  font-weight: 600;
  background: var(--red-1);
}

u {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

/* Containers */

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: var(--content-width);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .container {
    padding: 0 2rem;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.segment {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.segment.short {
  max-width: 780px;
}

.segment.small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.segment.large {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.segment.first {
  margin-top: 3rem;
}

@media screen and (min-width: 700px) {
  .segment {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .segment.large {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .segment.small {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Buttons */

button,
a.button {
  -webkit-appearance: none;
  background: var(--button-background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.7rem 1rem;
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color-base);
  border: 2px solid var(--border-color);
  gap: 0.25rem;
  letter-spacing: 0;
  white-space: nowrap;
}

button.large,
a.button.large {
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 400;
}

button.small,
a.button.small {
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
}

a.button.highlighted {
  font-weight: 500;
  text-decoration: none;
  color: var(--highlight-color);
}

a.button.highlighted:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

button img,
a.button img {
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  margin-right: 0.25rem;
}

button:hover {
  color: var(--font-color-bright);
  border-color: var(--border-color-hover);
}

a.button:hover{
  color: var(--font-color-bright);
  border-color: var(--link);
}

.button:active,
button:active {
  transform: scale(0.95);
}

.modal--btn-wrapper {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.8rem;
}

.modal--btn {
  border: none;
  background-color: var(--font-color-muted);
  border-radius: 50%;
  padding: 0.7rem;
  opacity: 0.3;
  cursor: initial;
}

.modal--btn-close {
  border: none;
  background-color: var(--card-time-color);
  border-radius: 50%;
  padding: 0.7rem;
}
.modal--btn:active {
  transform: scale(1);
}

/* Navigation */

.nav--list {
  padding: 0;
  list-style: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1.7rem;
  margin-top: 2.5rem;
}

html[lang="fa"] .nav--list {
  justify-content: end;
  flex-direction: row-reverse;
}

.nav--list > li {
  padding: 0;
  margin: 0;
}

.nav--link {
  color: var(--navbar-color);
  padding-bottom: 2px;
  border-bottom: 2px solid none;
}

.active--link > .nav--link,
.nav--link:hover {
  border-bottom: 2px solid var(--link);
  color: var(--navbar-color-hover);
}

.Preferences--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

dialog {
  background-color: var(--background-color);
}

/* Navigation */

/* Card */

.star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--star);
  font-family: var(--font-family-monospace);
}

.star a {
  color: var(--font-color-muted);
}

.star a:hover {
  color: var(--font-color-bright);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

html[lang="en"] .stars {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

html[lang="fa"] .stars {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  padding: 1rem;
  position: relative;
  overflow-wrap: anywhere;
}

@media screen and (min-width: 700px) {
  .card.anchored {
    padding-bottom: 3.5rem;
  }

  .card.anchored.large {
    padding-bottom: 5rem;
  }
}

.card a.card-header,
.card h2 {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--font-color-heading);
  margin: 0.1rem 0 0.5rem;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.card a.card-header:hover,
.card h2:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: var(--font-color-bright);
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--font-color-muted);
  font-family: var(--font-family-base);
}

.card.single {
  padding: 1.5rem;
}

.card.single p {
  margin: 0 0 1.5rem;
}

@media screen and (min-width: 700px) {
  .card.single {
    padding: 2rem;
  }
}

.card time {
  display: block;
  font-family: var(--font-family-monospace);
  color: var(--card-time-color);
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: -0.01rem;
}

.card.muted {
  border: 1px solid transparent;
  padding: 0;
  background: transparent;
  align-items: center;
}

.card.muted time {
  display: none;
  color: var(--font-color-muted);
}

.card.muted h2 {
  margin: 0.25rem 0 1rem;
}

@media screen and (min-width: 700px) {
  .card {
    padding: 1.5rem;
  }

  .card.muted time {
    display: block;
  }

  .card a.card-header,
  .card h2 {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .card.muted {
    background: transparent;
    padding: 1rem;
    border: 1px solid var(--border-color);
    align-items: center;
  }

  html[lang="en"] .stars {
    top: 1.5rem;
    right: 1.5rem;
  }

  html[lang="fa"] .stars {
    top: 1.5rem;
    left: 1.5rem;
  }
}

/* Layout wrapper */

main {
  flex: 1;
}

/* Hero */

.hero-wrapper {
  display: grid;
}

.hero {
  padding: 1rem 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--font-color-heading);
  margin: 0;
}

p.hero-description {
  -webkit-font-smoothing: antialiased;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--font-color-base);
  font-weight: 500;
  letter-spacing: -0.01rem;
}

p.hero-description a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

p.hero-description a:hover {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .hero-wrapper {
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 1.5rem;
  }

  p.hero-description {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .hero {
    padding: 1.5rem 0 0.5rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero.index {
    padding: 5rem 0 3rem;
  }
}

.hero div {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.hero .sub-title {
  color: var(--font-color-muted);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
.hero div a {
  color: var(--font-color-muted);
}

.active {
  color: var(--font-color-bright) !important;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.hero div a:hover {
  color: var(--font-color-bright);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.highlight {
  color: var(--marker);
}

/* Preview */

.highlight-preview {
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 700px) {
  .highlight-preview {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1060px) {
  .highlight-preview {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-preview,
.image-preview {
  display: grid;
  gap: 1rem;
}

.image-preview {
  grid-template-columns: repeat(2, 1fr);
}

.image-thumbnail {
  height: 150px;
}

@media screen and (min-width: 700px) {
  .project-preview {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-preview {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-thumbnail {
    height: 220px;
  }
}

@media screen and (min-width: 1060px) {
  .project-preview {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-preview {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-thumbnail {
    height: 250px;
  }
}

.post-preview .card p {
  margin-bottom: 1rem;
}

.project-preview .card time {
  color: var(--project-time-color);
}

.post-preview > div {
  flex: 1;
}

.post-preview {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .post-preview {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.post-preview > div {
  flex: 1;
}

.post-preview a.button {
  font-size: 0.9rem;
  padding: 0.5rem 0.6rem;
}

/* Pages */

.post-content a,
.writings-link {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.post-content a:hover,
.writings-link:hover {
  background: var(--link);
  color: var(--background-color);
  text-decoration: none;
}
/* girl.fashionhome */
a.anchor,
a.anchor:hover {
  color: var(--link);
  background: transparent !important;
}

a.anchor svg {
  fill: var(--link);
}

html[lang="en"] .anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotateZ(-30deg);
  padding-right: 4px;
}

html[lang="fa"] .anchor.before {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) rotateZ(30deg);
  padding-left: 4px;
}

.anchor.after {
  display: inline-block;
  padding-left: 4px;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}
/* Posts */

a.post {
  display: flex;
  gap: 1rem;
  padding: 0.4rem 0;
  background: transparent;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}

a.post:last-of-type {
  border: none;
}

a.post:hover,
a.post:hover h3,
a.post:hover time,
a.post:hover span {
  color: var(--link-hover-color);
}

a.post:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

a.post h3 {
  margin: 0;
  font-size: 1rem;
  /* color: var(--font-color-heading); */
  /* color: var(--font-color-muted); */
  color: var(--link);
  font-weight: 500;
  font-family: var(--font-family-base);
  line-height: 1.3;
}

a.post time {
  display: none;
  font-family: var(--font-family-monospace);
  color: var(--post-time-color);
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  /* margin-left: auto; */
}

html[lang="en"] a.post time {
  margin-left: auto;
}

html[lang="fa"] a.post time {
  margin-right: auto;
}

a.post span {
  /* display: none; */
  font-family: var(--font-family-monospace);
  color: var(--post-time-color);
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

html[lang="en"] a.post span {
  margin-left: auto;
}

html[lang="fa"] a.post span {
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .posts.newspaper {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 2rem;
  }

  a.post time {
    display: block;
  }

  /* a.post span {
    display: block;
  } */

  a.post h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

/* Grid */

.grid {
  display: block;
}

@media screen and (min-width: 1060px) {
  .grid {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 6rem;
  }
}

.article-content {
  max-width: 100%;
  min-width: 0;
}

.links {
  margin-top: 1rem;
}

/* Sidebar */

.post-sidebar-card {
  border: 1px solid var(--border-color);
  background: var(--card-background-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}

.post-sidebar h2 {
  color: var(--font-color-heading);
  font-size: 0.9rem;
  border: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.post-sidebar p,
.post-sidebar ul {
  font-size: 0.9rem;
}

.post-sidebar p:last-of-type {
  margin-bottom: 0;
}

.post-sidebar .tags {
  gap: 0.3rem;
}

.post-sidebar a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.post-sidebar a:hover {
  text-decoration: none;
}

.sidebar-avatar {
  display: block;
  border-radius: var(--border-radius);
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 1rem;
}

.list a {
  background-color: transparent;
  color: var(--font-color-base);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  margin: 0 -0.3rem;
  border-radius: var(--border-radius);
}

.list a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: var(--highlight-color);
  text-decoration: none;
}

/* Tags and categories */

.alphabetical-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

.alphabetical-tags:last-child {
  border-bottom: none;
}

.alphabetical-tags h3 {
  width: 30px;
  margin: 0;
  color: var(--blue-2);
  /* color: #4679e0; */
  /* color: #356ee0; */
  color: var(--link);
  /* color: var(--blue-5); */
}

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a.tag {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color-base);
  background: var(--button-background-color) !important;
  text-decoration: none;
}

a.tag:hover {
  color: var(--font-color-bright);
  border-color: var(--link);
  text-decoration: none;
}

a.tag.active {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .links.anchored {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .links.anchored {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

/* Helpers */

.cursor--style {
  cursor: pointer;
}

.width.small {
  max-width: var(--content-width--small);
}
.width.medium {
  max-width: var(--content-width--medium);
}

.flex {
  display: flex;
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.desktop-only {
  display: none !important;
}

@media screen and (min-width: 700px) {
  .desktop-only {
    display: flex !important;
  }
}

@media screen and (min-width: 700px) {
  .mobile-only {
    display: none !important;
  }
}

/* Article */

.post-image {
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.post-image > img {
  width: 150px;
  object-fit: contain;
}

.mobile-post-image {
  margin-bottom: 1rem;
  max-height: 50px;
  max-width: 50px;
}

.mobile-post-image > img {
  object-fit: contain;
}

@media screen and (min-width: 1060px) {
  .mobile-post-image {
    display: none;
  }
}

.post-header {
  padding: 1rem 0 0.5rem;
}

.post-header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

@media screen and (min-width: 700px) {
  .post-header {
    /* padding: 3rem 0 1.5rem; */
  }

  .post-header h1 {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}

.post-header time {
  display: block;
  font-family: var(--font-family-monospace);
  color: var(--font-color-muted);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

/* Footer */
@media screen and (max-width: 700px) {
  .footer {
    margin-bottom: 3.25rem;
  }
}

.footer {
  padding: 3rem 0;
}

.footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.footer img {
  display: inline-block;
  max-height: 20px;
  width: auto;
}

.footer nav {
  display: flex;
  gap: 0.25rem;
  margin: 0 1rem;
}

.footer a,
.footer span {
  display: flex;
  align-items: center;
  color: var(--font-color-base);
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0 0.5rem;
}

.footer a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.circles {
  display: flex;
  gap: 1rem;
}

.circle {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: 0.5rem 0;
  border-radius: 50%;
}

@media screen and (min-width: 700px) {
  .circle {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
  }
}

.text-white {
  color: var(--font-color-heading);
}

.red-1 {
  background: var(--red-1);
}

.red-2 {
  background: var(--red-2);
}

.red-3 {
  background: var(--red-3);
}

.red-4 {
  background: var(--red-4);
}

.red-5 {
  background: var(--red-5);
}

.green-1 {
  background: var(--green-1);
}

.green-2 {
  background: var(--green-2);
}

.green-3 {
  background: var(--green-3);
}

.green-4 {
  background: var(--green-4);
}

.green-5 {
  background: var(--green-5);
}

.blue-1 {
  background: var(--blue-1);
}

.blue-2 {
  background: var(--blue-2);
}

.blue-3 {
  background: var(--blue-3);
}

.blue-4 {
  background: var(--blue-4);
}

.blue-5 {
  background: var(--blue-5);
}

.rainbow-1 {
  background: var(--rainbow-1);
}

.rainbow-2 {
  background: var(--rainbow-2);
}

.rainbow-3 {
  background: var(--rainbow-3);
}

.rainbow-4 {
  background: var(--rainbow-4);
}

.rainbow-5 {
  background: var(--rainbow-5);
}

.image {
  max-width: 100%;
}

.hero-image {
  max-width: 250px;
  height: auto;
}

@media screen and (min-width: 700px) {
  .hero-image {
    max-width: 100%;
  }
}

.image-thumbnail {
  border-radius: var(--border-radius);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-muted {
  color: var(--font-color-base);
}

.text-medium,
p.text-medium {
  font-size: 1rem;
}

/* game */

.huPlayer {
  background-color: var(--huPlayer-bg-color);
}

.aiPlayer {
  background-color: var(--aiPlayer-bg-color);
}

.tieGame {
  background-color: var(--tieGame-bg-color);
}

/* skeletons */
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-title {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-title:last-child {
  width: 60%;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.45rem;
  border-radius: 0.125rem;
}

.skeleton-text-last {
  margin-bottom: 2.5rem;
  width: 80%;
}

.skeleton-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  margin-bottom: 1.5rem;
}

.skeleton-image.post-image {
  margin-left: auto;
  margin-right: auto;
}

.skeleton-postsidebar-title {
  width: 50%;
  height: 1rem;
  margin-top: 2.9rem;
  margin-bottom: 1.4rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 60%);
  }

  100% {
    background-color: hsl(200, 20%, 85%);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-color);
}
