@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --font-family-base: ;
} */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: initial;
}

html {
  font-family: sans-serif, system-ui, "Segoe UI", -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Arial;
}

/* Blockquote */

blockquote strong {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  font-weight: 700;
}

.code--block-header {
  color: var(--color-1);
  padding: 0.25rem 1rem;
  border: 1.5px solid var(--color-2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-3);
}

.code--block-inline-code {
  color: var(--color-1);
  background-color: var(--color-3);
  padding: 0.1rem 0.4rem;
  margin: 0 0.1rem;
  border: 2px solid var(--color-2);
  border-radius: 10px;
  font-family: monospace;
  font-size: 0.9rem;
}

pre {
  max-height: 50vh;
}

pre > div[dir="ltr"] > pre {
  border-radius: 10px;
  margin-top: 0 !important;
  border: 1.5px solid var(--color-2) !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.code--block-header + pre {
  border-top-left-radius: initial !important;
  border-top-right-radius: initial !important;
  padding: 1.25rem 0 !important;
}
/* must be for highlight, highkight doenst work without linenumbers */
.SHOWLINENUMBERS > pre {
  padding: 1.25rem 0 !important;
}

span.linenumber {
  display: none !important;
}

/* Table */

table {
  border: 1px solid var(--color-4);
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

td,
th {
  hyphens: auto;
  padding: 0.5rem;
  text-align: left;
  word-break: break-word;
  border-bottom: 1px solid var(--color-4);
}

th {
  background: var(--color-3);
  border-bottom: 2px solid var(--color-4);
}

mark {
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.3);
}

u {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

/* h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
} */

/* h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
} */

/* game */

/* .huPlayer {
  background-color: var(--huPlayer-bg-color);
} */

/* .aiPlayer {
  background-color: var(--aiPlayer-bg-color);
} */

/* .tieGame {
  background-color: var(--tieGame-bg-color);
} */

/* OLD : 1627 */
/* NEW :  */
