/* [data-theme="light"] {
  --background-color: #eee;
  --card-background-color: var(--gray-0);
  --code-background-color: var(--gray-0);
  --code-border-color: var(--gray-3);
  --contact-sidebar-card: var(--gray-2);


  --font-color-heading: var(--gray-8);
  --font-color-heading3: var(--gray-7);
  --font-color-base: var(--gray-7);
  --font-color-muted: var(--gray-6);
  --font-color-bright: var(--gray-9);

  --border-color: var(--gray-3);
  --border-color-hover: var(--gray-6);

  --button-background-color: var(--gray-05);

  --post-time-color: var(--gray-6);
  --project-time-color: var(--font-color-muted);
  --link: var(--indigo);
  --link-hover-color: var(--blue-4);
  --blockquote-background: var(--indigo-muted);
  --marker: var(--indigo);
  --close-btn: var(--gray-6);
  --file-background: #eee;
  --inline-code-background-color: var(--gray-0);
  --highlight-color: var(--green);
  --navbar: var(--gray-2);
  --navabar-02: rgba(255, 255, 255, 0.708);
  --navbar-border: var(--blue-1);
  --navbar-color: var(--gray-8);
  --navbar-color-hover: var(--gray-9);
  --theme-button-background: var(--gray-1);
  --theme-button-background-hover: var(--gray-2);
  --theme-button-border: var(--gray-3);
  --theme-button-border-hover: var(--gray-5);
  --theme-button-color: var(--gray-7);
  --theme-button-color-hover: var(--gray-9);
  --category-link: #dd4eb2;

  --scrollbar-color: var(--gray-3);
  --scrollbar-track: var(--gray-4);

  --td-bg-color: var(--gray-7);
  --endgame-text: var(--gray-7);
  --huPlayer-bg-color: var(--background-color);
  --aiPlayer-bg-color: var(--red);
  --tieGame-bg-color: var(--green);
} */
