[data-theme="dark"] {
  --background-color: var(--gray-10);
  --card-background-color: var(--gray-9);
  --contact-sidebar-card: var(--gray-9);
  --code-background-color: #131313;
  --code-border-color: var(--gray-65);


  --font-color-heading: white;
  --font-color-heading3: white;
  --font-color-base: var(--gray-3);
  --font-color-muted: var(--gray-5);
  --font-color-bright: white;

  --border-color: var(--gray-7);
  --border-color-hover: var(--gray-6);

  --button-background-color: var(--gray-8);

  --post-time-color: var(--gray-5);
  --card-time-color: var(--pink);
  --project-time-color: var(--link);
  --link: #9ca0fa;
  --link-hover-color: #c2c5fd;
  --blockquote-background: rgba(120, 120, 240, 0.05);
  --marker: var(--pink);
  --close-btn: var(--pink);
  --file-background: #161616;
  --inline-code-background-color: rgba(0, 0, 0, 0.2);
  --navbar: var(--gray-9);
  --navbar-02: rgba(0, 0, 0, 0.708);
  --navbar-border: var(--gray-7);
  --navbar-color: var(--gray-4);
  --navbar-color-hover: white;
  --theme-button-background: var(--gray-8);
  --theme-button-background-hover: var(--gray-7);
  --theme-button-border: var(--gray-7);
  --theme-button-border-hover: var(--gray-6);
  --theme-button-color: var(--gray-0);
  --theme-button-color-hover: white;
  --category-link: var(--font-color-muted);

  --scrollbar-color: var(--gray-65);
  --scrollbar-track: var(--gray-7);

  --td-bg-color:var(--gray-2);
  --endgame-text: var(--gray-2);
  --huPlayer-bg-color: var(--background-color);
  --aiPlayer-bg-color: var(--red-5);
  --tieGame-bg-color: var(--green-3);
}
